/* src/index.css */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  row-gap: auto ;
  

}

button {
  margin: 5px;
  color: blue;
  border-radius:10px ;
}

form {
  margin: 20px 0;

  gap:auto ;
  
  
  
}
